# dependencies
calculator-app/node_modules
drum-machine/node_modules
markdown-previewer/node_modules
quote-app/node_modules
session-break-clock/node_modules
react-psql-register-login/*/node_modules

# production
client/build

#env
react-psql-register-login/server/*.env