body {
  background-color: rgb(243, 243, 243);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.title-info {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: white;
  padding: 10px;
  border-bottom: 3px solid black;
}

.app-position {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
